   <!-- ABOUT PAGE : begin -->
        <div class="about-page">

            <!-- PAGE TITLE : begin -->
            <div id="page-title">
                <div class="container">
                    <div class="page-title-inner">
                        <h1><%- i18n.__('about.welcome') %><span><%- i18n.__('about.slogan') %></span></h1>
                    </div>
                </div>
            </div>
            <!-- PAGE TITLE : end -->

            <!-- PAGE CORE : begin -->
            <div id="page-core">
                <div class="container">

                    <!-- ABOUT INTRO : begin -->
                    <section class="about-intro">
                        <div class="row">
                            <div class="col-xs-6 various-content">
                                <p class="lead"><%- i18n.__('about.whatis') %></p>
                                <p><%- i18n.__('about.whatis.desc') %></p>
                                <p class="lead" align="center"><img src="/img/logo_large.png"></p>
                            </div>
                            <div class="col-xs-6 various-content">
                                <p class="lead"><%- i18n.__('about.authors') %></p>
                                <p>
                                    <%- i18n.__('about.authors.desc.A') %> Thomas &quot;TAT&quot; Andresen &amp; Alex  &quot;Thedark1337&quot; Pham
                                    <br />
                                    <%- i18n.__('about.authors.desc.B') %>
                                </p>
                            </div>
                        </div>
                    </section>
                    <!-- ABOUT INTRO : end -->
