<!-- ABOUT PAGE : begin -->
<div class="about-page">
    <!-- PAGE TITLE : begin -->
    <div id="page-title">
        <div class="container">
            <div class="page-title-inner">
                <h1><%- i18n.__('ambassadors.welcome') %><span><%- i18n.__('ambassadors.slogan') %></span></h1>
            </div>
        </div>
    </div>
    <!-- PAGE TITLE : end -->
    <!-- PAGE CORE : begin -->
    <div id=
    "page-core">
            <div class="container">

                <!-- ABOUT INTRO : begin -->
                <section class="about-intro">
                    <div class="row">
                        <div class="col-xs-12 various-content">
                            <p class="lead text-center"><%- i18n.__('ambassadors.list') %></p>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><%- i18n.__('ambassadors.name') %></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><a href="https://plug.dj/@/danielledark" target="_blank">DanielleDark</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://plug.dj/@/dark-seabass" target="_blank">Dark Seabass</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://plug.dj/@/exuviax" target="_blank">Exuviax</a> / <a href="https://plug.dj/@/plugcubed-ambassador" target="_blank">plugCubed Ambassador</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://plug.dj/@/incoknito" target="_blank">Incoknito</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://plug.dj/@/sam" target="_blank">Sam</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://plug.dj/@/xbytez" target="_blank">xBytez</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://plug.dj/@/yourturngaming" target="_blank">YourturnGaming</a> </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                            <h2><%- i18n.__('ambassadors.desc') %></h2>
                            <br>
                            <!-- Change the width and height values to suit you best -->
<div class="typeform-widget" data-url="https://plugcubed.typeform.com/to/FxVHkC" data-text="p3 Ambassador Application" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_FxVHkC&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank">Typeform</a></div>

                        </div>
                    </div>
                </section>
                <!-- ABOUT INTRO : end -->
</div>
