<!-- ABOUT PAGE : begin -->
<div class="about-page">

    <!-- PAGE TITLE : begin -->
    <div id="page-title">
        <div class="container">
            <div class="page-title-inner">
                <h1><%- i18n.__('commands.title') %><span><%- i18n.__('commands.title2') %></span></h1>
            </div>
        </div>
    </div>
    <!-- PAGE TITLE : end -->

    <!-- PAGE CORE : begin -->
    <div id="page-core">
        <div class="container">

            <!-- ABOUT INTRO : begin -->
            <section class="about-intro">
                <div class="row">
                    <div class="col-xs-12 various-content">
                        <p class="lead"><%- i18n.__('commands.title') %> plug³</p>

                        <p><%- i18n.__('commands.desc') %></p>
                    </div>
                </div>
                <p>&nbsp;</p>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Command</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>/add</td>
                                        <td><%- i18n.__('commands.add') %></td>
                                    </tr>
                                    <tr>
                                        <td>/alertsoff</td>
                                        <td><%- i18n.__('commands.alertsoff') %></td>
                                    </tr>
                                    <tr>
                                        <td>/alertson</td>
                                        <td><%- i18n.__('commands.alertson') %></td>
                                    </tr>
                                    <tr>
                                        <td>/automute</td>
                                        <td><%- i18n.__('commands.automute') %> </td>
                                    </tr>
                                    <tr>
                                        <td>/badges</td>
                                        <td><%- i18n.__('commands.badges') %></td>
                                    </tr>
                                    <tr>
                                        <td>/ban</td>
                                        <td><%- i18n.__('commands.ban') %></td>
                                    </tr>
                                    <tr>
                                        <td>/banall</td>
                                        <td><%- i18n.__('commands.banall') %></td>
                                    </tr>
                                    <tr>
                                        <td>/getpos</td>
                                        <td><%- i18n.__('commands.getpos') %></td>
                                    </tr>
                                    <tr>
                                        <td>/grab</td>
                                        <td><%- i18n.__('commands.grab') %></td>
                                    </tr>
                                    <tr>
                                        <td>/join</td>
                                        <td><%- i18n.__('commands.join') %></td>
                                    </tr>
                                    <tr>
                                        <td>/leave</td>
                                        <td><%- i18n.__('commands.leave') %></td>
                                    </tr>
                                    <tr>
                                        <td>/link</td>
                                        <td><%- i18n.__('commands.link') %></td>
                                    </tr>
                                    <tr>
                                        <td>/lock</td>
                                        <td><%- i18n.__('commands.lock') %></td>
                                    </tr>
                                    <tr>
                                        <td>/lockskip</td>
                                        <td><%- i18n.__('commands.lockskip') %></td>
                                    </tr>
                                    <tr>
                                        <td>/mute</td>
                                        <td><%- i18n.__('commands.mute') %></td>
                                    </tr>
                                    <tr>
                                        <td>/nextsong</td>
                                        <td><%- i18n.__('commands.nextsong') %></td>
                                    </tr>
                                    <tr>
                                        <td>/refresh</td>
                                        <td><%- i18n.__('commands.refresh') %></td>
                                    </tr>
                                    <tr>
                                        <td>/skip</td>
                                        <td><%- i18n.__('commands.skip') %></td>
                                    </tr>
                                    <tr>
                                        <td>/status</td>
                                        <td><%- i18n.__('commands.status') %></td>
                                    </tr>
                                    <tr>
                                        <td>/unlock</td>
                                        <td><%- i18n.__('commands.unlock') %></td>
                                    </tr>
                                    <tr>
                                        <td>/unmute</td>
                                        <td><%- i18n.__('commands.unmute') %></td>
                                    </tr>
                                    <tr>
                                        <td>/version</td>
                                        <td><%- i18n.__('commands.version') %></td>
                                    </tr>
                                    <tr>
                                        <td>/whois</td>
                                        <td><%- i18n.__('commands.whois') %></td>
                                    </tr>
                                    <tr>
                                        <td>/whois all</td>
                                        <td><%- i18n.__('commands.whoisall') %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </section>
            <!-- ABOUT INTRO : end -->
