   <!-- ABOUT PAGE : begin -->
        <div class="about-page">

            <!-- PAGE TITLE : begin -->
            <div id="page-title">
                <div class="container">
                    <div class="page-title-inner">
                        <h1><%-i18n.__('features.welcome') %><span><%-i18n.__('features.slogan') %></span></h1>
                    </div>
                </div>
            </div>
            <!-- PAGE TITLE : end -->

            <!-- PAGE CORE : begin -->
            <div id="page-core">
                <div class="container">

                    <!-- ABOUT INTRO : begin -->
                    <section class="about-intro">
                        <div class="row">
                            <div class="col-xs-12 various-content">
                                <p class="lead"><%-i18n.__('features.title') %></p>

                                <p><%-i18n.__('features.description') %></p>
                                <h3><%- i18n.__('features.list') %></h3>
                                <ul>
                                    <li><%- i18n.__('features.woot') %></li>
                                    <li><%- i18n.__('features.join') %></li>
                                    <li><%- i18n.__('features.extendLists') %>
                                    <ul style="margin-top:10px;">
                                        <li><%- i18n.__('features.extendLists.meh') %></li>
                                    </ul>
                                    </li>
                                    <li><%- i18n.__('features.easyui') %>
                                    <ul style="margin-top:10px;">
                                        <li><%- i18n.__('features.easyui.info') %></li>
                                    </ul>
                                    </li>
                                    <li><%- i18n.__('features.chatlogs') %>
                                    <ul style="margin-top:10px;">
                                        <li><%- i18n.__('features.chatlogs.joinleave') %></li>
                                        <li><%- i18n.__('features.chatlogs.grab') %></li>
                                        <li><%- i18n.__('features.chatlogs.stats') %></li>
                                        <li><%- i18n.__('features.chatlogs.playing') %></li>
                                        <li><%- i18n.__('features.chatlogs.unavailable') %></li>
                                        <li><%- i18n.__('features.chatlogs.history') %></li>
                                        <li><%- i18n.__('features.chatlogs.songlong') %></li>
                                    </ul>
                                    </li>
                                    <li><%- i18n.__('features.chatcmd') %>
                                    <ul style="margin-top:10px;">
                                        <li><%- i18n.__('features.chatcmd.booth') %></li>
                                        <li><%- i18n.__('features.chatcmd.mute') %></li>
                                        <li><%- i18n.__('commands.automute') %></li>
                                        <li><%- i18n.__('features.chatcmd.waitlist') %></li>
                                        <li><%- i18n.__('commands.whoami') %></li>
                                        <li><%- i18n.__('features.chatcmd.muchmore') %></li>
                                    </ul>
                                    </li>
                                    <li><%- i18n.__('features.moderate') %>
                                    <ul style="margin-top:10px;">
                                        <li><%- i18n.__('features.moderate.history') %></li>
                                        <li><%- i18n.__('features.moderate.userdata') %></li>
                                        <li><%- i18n.__('features.mod.cmd') %><a href="/commands"><%- i18n.__('features.mod.cmd.b') %></a>
                                        <ul style="margin-top:10px;">
                                            <li><%- i18n.__('features.mod.cmd.bouncer') %>
                                            <ul style="margin-top:10px;">
                                                <li>/ban = <%- i18n.__('commands.ban') %>
                                                <ul style="margin-top:10px;">
                                                    <li><%- i18n.__('features.mod.cmd.baninfo.1') %>/ban @username :: reason</li>
                                                    <li><%- i18n.__('features.mod.cmd.baninfo.2') %>/ban@username :: reason :: time</li>
                                                </ul>
                                                </li>
                                                <li>/add @user = <%- i18n.__('commands.add') %></li>
                                                <li>/remove @user = <%- i18n.__('commands.remove') %></li>
                                                <li>/whois @user = <%- i18n.__('commands.whois') %></li>
                                            </ul>
                                            </li>
                                            <li><%- i18n.__('features.mod.cmd.manager') %>
                                            <ul style="margin-top:10px;">
                                                <li>/lock = <%- i18n.__('commands.lock') %></li>
                                                <li>/unlock = <%- i18n.__('commands.unlock') %></li>
                                            </ul>
                                            </li>
                                            <li><%- i18n.__('features.mod.cmd.ambassador') %>
                                            <ul style="margin-top:10px;">
                                                <li>/whois all = <%- i18n.__('commands.whoisall') %></li>
                                                <li>/banall = <%- i18n.__('commands.banall') %></li>
                                            </ul>
                                            </li>
                                        </ul>
                                        </li>
                                    </ul>
                                    </li>
                                </ul>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </section>
                    <!-- ABOUT INTRO : end -->
