<!doctype html>
<html>
    <head>
        <title>plug&#179; - <%= title %></title>
        <meta charset="utf-8">
        <meta name="author" content="TheDark1337, Chikachi, Henchman"/>
        <meta name="copyright" content="plug³ Team"/>
        <meta name="description" content="Plug³ is extending and enhancing the way users interact with Plug.dj! Adding features like Autowoot, Autojoin, Moderation Tools, Room Settings and much more!"/>
        <meta property="og:description" content="Plug³ is extending and enhancing the way users interact with Plug.dj! Adding features like Autowoot, Autojoin, Moderation Tools, Room Settings and much more!"/>
        <meta property="og:image" content="https://plugcubed.net/img/p3LogoBig.png">
        <meta property="og:title" content="plug&#179; - <%= title %>" />
        <meta property="og:url" content="https://plugcubed.net" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@1337alexpham">
        <meta name="twitter:site" content="@plugcubed" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--[if IE]>
        <link rel="shortcut icon" href="/img/favicons/favicon.ico">
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="/img/favicons/favicon.ico" />
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- STYLESHEETS : begin -->
        <link rel="stylesheet" type="text/css" href="/js/bundle.css">
        <link rel="stylesheet" type="text/css" href="/js/mackbethTheme.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
    </head>
    <body id="top">
        <!-- HEADER : begin -->
        <header>
            <!-- TOPBAR : begin -->
            <div id="topbar">
                <div class="container">
                    <div class="topbar-inner clearfix">
                        <!-- SOCIAL ICONS : begin -->
                        <div class="social-icons">
                            <ul class="clearfix">
                                <li class="twitter">
                                    <a href="https://twitter.com/plugCubed" title="plug&#179; on Twitter" target="_blank"><i></i></a>
                                </li>
                                <!-- <li class="facebook"><a href="#"><i></i></a></li> -->
                                <!-- <li class="googleplus"><a href="#"><i></i></a></li> -->
                                <li>
                                    <script async defer src="https://slack.plugcubed.net/slackin.js"></script>
                                </li>
                            </ul>
                        </div>
                        <!-- SOCIAL ICONS : end -->
                        <form action="" method="post">
                            <select class="changeLang" name="lang">
                                <% for (var i = 0; i < langs.length; i++) { %>
                                <option value="<%- langs[i] %>"
                                    <% if (locale === langs[i] || (locale == null && langs[i] === 'en')) { %>
                                    selected=true
                                    <% } %>
                                    ><%=languages[i] %></option>
                                <% } %>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <!-- TOPBAR : end -->
            <!-- NAVBAR : begin -->
            <div id="navbar">
                <div class="container-fluid">
                    <div class="navbar-inner clearfix">
                        <!-- BRANDING : begin -->
                        <a href="/">
                            <div class="wrap">
                                <div class="cube">
                                    <div class="front"></div>
                                    <div class="back"></div>
                                    <div class="top"></div>
                                    <div class="bottom"></div>
                                    <div class="left"></div>
                                    <div class="right"></div>
                                </div>
                            </div>
                        </a>
                        <!-- BRANDING : end -->
                        <!-- MAIN NAV : begin -->
                        <nav class="main">
                            <button class="btn"><i class="fa fa-reorder"></i></button>
                            <ul>
                                <li
                                    <% if (page === 'index') { %>
                                    class="active"
                                    <% } %>
                                    >
                                    <a href="/"><strong><%- i18n.__('layout.menu.home') %></strong><span><%- i18n.__('layout.menu.home.desc') %></span></a>
                                </li>
                                <li
                                    <% if (page === 'alpha') { %>
                                    class="active"
                                    <% } %>
                                    >
                                    <a href="/alpha"><strong><%- i18n.__('layout.menu.alpha') %></strong><span><%- i18n.__('layout.menu.alpha.desc') %></span></a>
                                </li>
                                <li
                                    <% if (page === 'about' || page === 'translate' || page === 'ambassadors') { %>
                                    class="active"
                                    <% } %>
                                    >
                                    <a href="/about"><strong><%- i18n.__('layout.menu.about') %></strong><span><%- i18n.__('layout.menu.about.desc') %></span></a>
                                    <span class="arrow"><i></i></span>
                                    <ul>
                                        <li>
                                            <a href="/translate"><strong><%- i18n.__('layout.menu.translate') %></strong>&nbsp;<span><%- i18n.__('layout.menu.translate.desc') %></span></a>
                                        </li>
                                        <li>
                                            <a href="/ambassadors"><strong><%- i18n.__('layout.menu.ambassador') %></strong>&nbsp;<span><%- i18n.__('layout.menu.ambassador.desc') %></span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li
                                    <% if (page === 'commands' || page === 'features' || page === 'install' || page === 'license' || page === 'readme' || page === 'room settings') { %>
                                    class="active"
                                    <% } %>
                                    >
                                    <a href="/readme"><strong><%- i18n.__('layout.menu.readme') %></strong><span><%- i18n.__('layout.menu.readme.desc') %></span></a>
                                    <span class="arrow"><i></i></span>
                                    <ul>
                                        <li><a href="/install"><span><%- i18n.__('layout.menu.install') %></span><strong> <%-i18n.__('layout.menu.install.desc') %></strong></a></li>
                                        <li>
                                            <a href="/features"><strong><%- i18n.__('layout.menu.features') %></strong><span> <%-i18n.__('layout.menu.list') %></span></a>
                                        </li>
                                        <li><a href="/commands"><strong><%- i18n.__('commands.title1') %></strong><span> <%-i18n.__('layout.menu.list') %></span></a></li>
                                        <li>
                                            <a href="/license"><span>GPLv3 </span><strong><%- i18n.__('layout.menu.license') %></strong></a>
                                        </li>
                                        <li>
                                            <a href="/roomsettings"><strong><%- i18n.__('layout.menu.roomsettings') %></strong><span> <%- i18n.__('layout.menu.roomsettings.desc') %></span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li
                                    <% if (page === 'donations') { %>
                                    class="active"
                                    <% } %>
                                    >
                                    <a href="/donations"><strong><%- i18n.__('layout.menu.donations') %></strong><span><%- i18n.__('layout.menu.donations.desc') %></span></a>
                                </li>
                                <li class="last">
                                    <a><strong><%- i18n.__('layout.menu.links') %></strong><span><%- i18n.__('layout.menu.links.desc') %></span></a><span class="arrow"><i></i></span>
                                    <ul>
                                        <li>
                                            <a href="https://github.com/plugCubed/plugCubed" target="_blank"><strong><%- i18n.__('layout.menu.source') %> </strong><span> <%- i18n.__('layout.menu.source.desc') %></span></a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/plugCubed/plugCubed/issues" target="_blank"><strong><%- i18n.__('layout.menu.issues') %></strong><span> / <%- i18n.__('layout.menu.issues.desc') %></span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span class="indicator"></span>
                        </nav>
                        <!-- MAIN NAV : end -->
                    </div>
                </div>
            </div>
            <!-- NAVBAR : begin -->
        </header>
        <!-- HEADER : end -->
        <%- body %>
        </div>
        <% if (page !== 'alpha' && page !== 'translate' && page !== 'ambassadors' && page !== 'goodbye') { %>
        <section id="plugcubed-install">
            <div class="container">
                <div class="cta-message">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2><%- i18n.__('layout.start') %></h2>
                            <p><%- i18n.__('layout.usage') %></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="btn-group" role="group" aria-label="plug&#179; Bookmarks">
                                <a class="button color6" style="float: none" onclick="return alert('Drag this button to your bookmarks'),false;" href="javascript:(function(){$.getScript('https://plugcubed.net/scripts/release/plugCubed.js');}());">plug³</a>
                                <a class="button color6" style="float: none" onclick="return alert('Drag this button to your bookmarks'),false;" href="javascript:(function(){$.getScript('https://plugcubed.net/scripts/release/plugCubed.min.js');}());">plug³ min</a>
                                <a class="button color6" style="float: none" href="https://plugcubed.net/scripts/plugCubed.user.js" target="_blank">Userscript</a>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <hr>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2><%- i18n.__('layout.extension.header') %></h2>
                            <p><%- i18n.__('layout.extension.desc') %></p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <div class="btn-group" role="group" aria-label="plug&#179; Extensions">
                                    <a class="button color6" style="float: none" href="https://addons.opera.com/en/extensions/details/plugcubed/" target="_blank">Opera</a>
                                    <a class="button color6" style="float: none" href="https://chrome.google.com/webstore/detail/plugcubed/cfeomlnnfncblkheeneahgmngbnbiaoi" target="_blank">Chrome</a>
                                    <a class="button color6" style="float: none" href="https://addons.mozilla.org/en-US/firefox/addon/plugcubed" target="_blank">Firefox</a>
                                    <a class="button color6" style="float: none" href="http://extension.maxthon.com/detail/index.php?view_id=2455" target="_blank">Maxthon</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <hr>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2><%- i18n.__('global.bookmark') %></h2>
                            <p><%- i18n.__('global.bookmark.desc') %></p>
                            <div class="text-center">
                                <pre><code class="language-javascript">javascript:(function(){$.getScript('https://plugcubed.net/scripts/release/plugCubed.js');}());</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% } %>
        </div>
        <!-- PAGE CORE : end -->
        </div>
        <!-- ABOUT PAGE : end -->
        <!-- TWITTER FEED : begin -->
        <div id="twitter-feed">
            <div class="container">
                <div class="twitter-feed-inner">
                   <a class="twitter-timeline" data-height="500" data-dnt="true" data-theme="dark" href="https://twitter.com/plugCubed">Tweets by plugCubed</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
        <!-- TWITTER FEED : end -->
        <!-- FOOTER : begin -->
        <footer>
            <div class="container">
                <div class="footer-inner clearfix">
                    <!-- COPYRIGHT : begin -->
                    <p class="copyright"><i class="fa fa-fw fa-copyright"></i>Copyright plug³ (plugCubed) 2013-
                        <%= moment().format('YYYY') %>.
                    </p>
                    <!-- COPYRIGHT : end -->
                    <!-- FOOTER NAV : begin -->
                    <nav class="footer">
                        <ul>
                            <li
                                <% if (page === 'index') { %>
                                class="active"
                                <% } %>
                                >
                                <a href="/"><%- i18n.__('layout.menu.home') %></a>&nbsp;/
                            </li>
                            <li
                                <% if (page === 'about') { %>
                                class="active"
                                <% } %>
                                >
                                <a href="/about"><%- i18n.__('layout.menu.about') %></a>&nbsp;/
                            </li>
                            <li
                                <% if (page === 'commands' || page === 'features' || page === 'install' || page === 'license' || page === 'readme' || page === 'room settings') { %>
                                class="active"
                                <% } %>
                                ><a href="/readme"><%- i18n.__('layout.menu.readme') %></a>&nbsp;/
                            </li>
                            <li
                                <% if (page === 'license') { %>
                                class="active"
                                <% } %>
                                >
                                <a href="/license"><%- i18n.__('layout.menu.license') %></a>&nbsp;/
                            </li>
                            <li>
                                <a href="https://github.com/plugCubed/plugCubed" target="_blank">Source</a>&nbsp;/
                            </li>
                        </ul>
                    </nav>
                    <!-- FOOTER NAV : end -->
                </div>
            </div>
        </footer>
        <!-- FOOTER : end -->
        <!-- SCREEN WIDTH : begin -->
        <var id="screen-width"><span></span></var>
        <!-- SCREEN WIDTH : end -->
        <!-- SCRIPTS: begin -->
        <script src="/js/bundle.js"></script>
        <script src="/js/mackbethTheme.js"></script>
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
              var u="https://piwik.thedark1337.com/";
              _paq.push(['setTrackerUrl', u+'piwik.php']);
              _paq.push(['setSiteId', 2]);
              var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
              g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript>
            <p><img src="//piwik.thedark1337.com/piwik.php?idsite=2" style="border:0;" alt="" /></p>
        </noscript>
        <!-- End Piwik Code -->
        <!-- SCRIPTS: end -->
    </body>
</html>
