<!-- ABOUT PAGE : begin -->
<div class="about-page">
    <!-- PAGE TITLE : begin -->
    <div id="page-title">
        <div class="container">
            <div class="page-title-inner">
                <h1><%- i18n.__('translate.welcome') %><span><%- i18n.__('translate.slogan') %></span></h1>
            </div>
        </div>
    </div>
    <!-- PAGE TITLE : end -->
    <!-- PAGE CORE : begin -->
    <div id="page-core">
        <div class="container">

            <!-- ABOUT INTRO : begin -->
            <section class="about-intro">
                <div class="row">
                    <div class="col-xs-12 various-content">
                        <p class="lead text-center"><%- i18n.__('translate.list') %></p>

                        <p><%- i18n.__('translate.desc') %>
                            <a href="mailto:1337alexpham@gmail.com?subject=Translators">Email</a></p>
                        <a href="https://translate.plugcubed.net" class="btn"><%- i18n.__('translate.contribute') %></a>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><%- i18n.__('translate.name') %></th>
                                        <th><%- i18n.__('translate.languages') %></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Angelψηκ</td>
                                        <td>French</td>
                                    </tr>
                                    <tr>
                                        <td>CordiBeats</td>
                                        <td>Lithuanian</td>
                                    </tr>
                                    <tr>
                                        <td>David Boca</td>
                                        <td>Croatian</td>
                                    </tr>
                                    <tr>
                                        <td>Dobypeti</td>
                                        <td>Hungarian</td>
                                    </tr>
                                    <tr>
                                        <td>Fishtøast</td>
                                        <td>French</td>
                                    </tr>
                                    <tr>
                                        <td>Isna</td>
                                        <td>Lithuanian</td>
                                    </tr>
                                    <tr>
                                        <td>killdore21</td>
                                        <td>Norwegian</td>
                                    </tr>
                                    <tr>
                                        <td>Leopard10.5</td>
                                        <td>Czech</td>
                                    </tr>
                                    <tr>
                                        <td>Notturno</td>
                                        <td>Portuguese Brazilian</td>
                                    </tr>
                                    <tr>
                                        <td>Plateam</td>
                                        <td>Finnish</td>
                                    </tr>
                                    <tr>
                                        <td>piotrex43</td>
                                        <td>Polish</td>
                                    </tr>
                                    <tr>
                                        <td>ProDjMx #ClanOBZ</td>
                                        <td>French</td>
                                    </tr>
                                    <tr>
                                        <td>R3gi</td>
                                        <td>Czech</td>
                                    </tr>
                                    <tr>
                                        <td>S3xyDre4m</td>
                                        <td>Slovenian</td>
                                    </tr>
                                    <tr>
                                        <td>tomcent__vincent</td>
                                        <td>Belgian / Dutch</td>
                                    </tr>
                                    <tr>
                                        <td>Yenn</td>
                                        <td> Chinese Traditional / Malay</td>
                                    </tr>
                                    <tr>
                                        <td>SERB_plug-dj</td>
                                        <td>Serbian (Cyrillic)</td>
                                    </tr>
                                    <tr>
                                        <td>Tigjerux</td>
                                        <td>Latvian</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ABOUT INTRO : end -->
        </div>
